.add-emp-btn,
.delete-emp-btn,
.directors-btn {
    margin-top: 0.5rem;
}

.buttons {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

mat-divider {
    margin-top: 0.5rem;
    border-top-color: #333 !important;
}